@page "/S"
<div id="innerTabContent">
  <!-- Notice Tab -->
  <input type="hidden" id="currentTabId" value="notice">
  <form id="solicitationForm" class="current-form previewTab"
    action="/sandag/solicitations/open-bids/Airport-Transit-Connection-Survey/0000350269?origin=0" method="post">
    <div class="content-block">
      <h3 class="content-block-title">
        Basic Information</h3>
      <div class="twoColFields">
        <div id="g_403" class="mets-field mets-field-view">
          <span class="mets-field-label">
            Reference Number</span>
          <div class="mets-field-body ">
            <p>0000350269</p>
          </div>
        </div>
        <div id="g_404" class="mets-field mets-field-view">
          <span class="mets-field-label">
            Solicitation Type</span>
          <div class="mets-field-body ">
            <p>
              RFP - Request for Proposal (Formal) </p>
          </div>
        </div>
        <div id="g_405" class="mets-field mets-field-view">
          <span class="mets-field-label">
            Solicitation Number</span>
          <div class="mets-field-body ">
            <p>
              4240319</p>
          </div>
        </div>
        <div id="g_406" class="mets-field mets-field-view">
          <span class="mets-field-label">
            Title</span>
          <div class="mets-field-body ">
            <p>
              Airport Transit Connection Survey</p>
          </div>
        </div>
        <div id="g_407" class="mets-field mets-field-view">
          <span class="mets-field-label">
            Source ID</span>
          <div class="mets-field-body ">
            <p>
              PU.AG.USA.1309051.C10473776</p>
          </div>
        </div>
      </div>
      <h3 class="content-block-sub-title">
        Details</h3>
      <div class="twoColFields">
        <div id="g_408" class="mets-field mets-field-view">
          <span class="mets-field-label">
            Location </span>
          <div class="mets-field-body ">
            <p>
              United States, California, San Diego County</p>
          </div>
        </div>
        <div id="g_409" class="piggybackDiv mets-field mets-field-view">
          <span class="mets-field-label">
            Piggyback Contract</span>
          <div class="mets-field-body ">
            <p>
              No</p>
          </div>
        </div>
      </div>

      <div id="g_410" class="description mets-field mets-field-view">
        <span class="mets-field-label">
          Description</span>
        <div class="mets-field-body ">
          <!-- JIRA: METS-21465: Need to add tolerance equal to padding amount. -->
          <span id="descriptionText" class="wysiwyg mets-ellipsis mets-ellipsis-wrapper"
            style="overflow-wrap: break-word;">
            <p>SANDAG is seeking a qualified firm to conduct a revealed preference survey to provide critical data for
              the airport component of SANDAG’s activity-based model (ABM).</p>
          </span>


          <script type="text/javascript">


            var descriptionText_options = {};
            descriptionText_options.ellipsis = "...";

            descriptionText_options.wrap = "word";
            descriptionText_options.watch = true;

            descriptionText_options.after = $("#descriptionTextReadMore");
            descriptionText_options.tolerance = 5;
            descriptionText_options.callback = function (isTruncated, orgContent)
            {

            };


            $("#descriptionText").dotdotdot(descriptionText_options);


            var descriptionTextReadMoreTextVar = $("#descriptionText").data("dotdotdot");

            function descriptionTextReadMoreTextVar_removeEllipsis()
            {

              // Remove the plugin
              $("#descriptionText").trigger('destroy.dot');
              // Remove class limiting height of the box
              $("#descriptionText").removeClass('mets-ellipsis');


            }
          </script>
        </div>
      </div>
      <h3 class="content-block-sub-title">
        Dates</h3>
      <div class="twoColFields">
        <div id="g_411" class="dates mets-field mets-field-view">
          <span class="mets-field-label">
            Publication</span>
          <div class="mets-field-body ">
            <p>
              04/22/2024 06:31 PM PDT</p>
          </div>
        </div>
        <div id="g_412" class="mets-field mets-field-view">
          <span class="mets-field-label">
            Bid Intent</span>
          <div class="mets-field-body ">
            <p>Optional</p>
          </div>
        </div>
        <div id="g_413" class="dates mets-field mets-field-view">
          <span class="mets-field-label">
            Bid Intent Deadline</span>
          <div class="mets-field-body ">
            <p>
              05/13/2024 05:00 PM PDT</p>
          </div>
        </div>
        <div id="g_414" class="dates mets-field mets-field-view">
          <span class="mets-field-label">
            Question Acceptance Deadline</span>
          <div class="mets-field-body ">
            <p>
              05/08/2024 05:00 PM PDT</p>
          </div>
        </div>
        <div id="g_415" class="dates mets-field mets-field-view">
          <span class="mets-field-label">
            Questions are submitted online</span>
          <div class="mets-field-body ">
            <p>
              Yes</p>
          </div>
        </div>
        <div id="g_416" class="dates mets-field mets-field-view">
          <span class="mets-field-label">
            Closing Date</span>
          <div class="mets-field-body ">
            <p>
              05/20/2024 05:00 PM PDT</p>
          </div>
        </div>
        <div id="g_417" class="dates mets-field mets-field-view">
          <span class="mets-field-label">
            Prebid Conference</span>
          <div class="mets-field-body ">
            <p>
              05/01/2024 01:00 PM PDT</p>
          </div>
        </div>
      </div>

    </div>
    <div class="content-block fieldset">
      <h3 class="content-block-title">
        Buyer Preferences, Guidelines &amp; Requirements</h3>

      <h3 class="content-block-sub-title">
        Participation Requirements</h3>

      <div class="twoColFields">
        <div id="g_418" class="mets-field mets-field-view no-label">
          <span class="mets-field-label mets-field-filler">
          </span>
          <div class="mets-field-body ">
            <p>- Disadvantaged Business Enterprise (DBE)</p>
          </div>
        </div>
      </div>
      <h3 class="content-block-sub-title">
        General Requirements</h3>

      <div class="twoColFields">
        <div id="g_419" class="mets-field mets-field-view no-label">
          <span class="mets-field-label mets-field-filler">
          </span>
          <div class="mets-field-body ">
            <p>- Federally Funded</p>
          </div>
        </div>
      </div>
    </div>
    <div class="content-block fieldset preBidEventList">
      <h3 class="content-block-title">
        Pre-Bidding Events</h3>
      <ul>
        <li class="twoColFields">
          <div id="g_420" class="mets-field mets-field-view">
            <span class="mets-field-label">
              Event Type</span>
            <div class="mets-field-body ">
              <p>
                Prebid Conference</p>
            </div>
          </div>
          <div id="g_421" class="mets-field mets-field-view">
            <span class="mets-field-label">
              Attendance</span>
            <div class="mets-field-body ">
              <p>
                Recommended</p>
            </div>
          </div>
          <div id="g_422" class="mets-field mets-field-view">
            <span class="mets-field-label">
              Event date</span>
            <div class="mets-field-body ">
              <p>
                05/01/2024 01:00 PM PDT</p>
            </div>
          </div>
          <div id="g_423" class="mets-field mets-field-view">
            <span class="mets-field-label">
              Location</span>
            <div class="mets-field-body ">
              <p>
                Virtual via Microsoft Teams</p>
            </div>
          </div>
          <div id="g_424" class="event-note mets-field mets-field-view">
            <span class="mets-field-label">
              Event Note</span>
            <div class="mets-field-body ">
              <!-- JIRA: METS-21465: Need to add tolerance equal to padding amount. -->
              <span id="eventNoteText3852029080"
                class="wysiwyg textAreaView mets-ellipsis mets-ellipsis-wrapper is-truncated"
                style="overflow-wrap: break-word;">
                <p style="">The optional Pre-Proposal Meeting will be held virtually via Microsoft Teams.&nbsp;Potential
                  proposers and subconsultants are highly encouraged to attend. It is an opportunity to learn more about
                  this RFP and ask questions. A copy of the presentation...<a id="eventNoteText3852029080ReadMore"
                    class="mets-command-link read-more"
                    onclick="eventNoteText3852029080ReadMoreTextVar_removeEllipsis();return false;"
                    href="javascript:void(0);">See more</a></p>
              </span>


              <script type="text/javascript">


                var eventNoteText3852029080_options = {};
                eventNoteText3852029080_options.ellipsis = "...";

                eventNoteText3852029080_options.wrap = "word";
                eventNoteText3852029080_options.watch = true;

                eventNoteText3852029080_options.after = $("#eventNoteText3852029080ReadMore");
                eventNoteText3852029080_options.tolerance = 5;
                eventNoteText3852029080_options.callback = function (isTruncated, orgContent)
                {

                };


                $("#eventNoteText3852029080").dotdotdot(eventNoteText3852029080_options);


                var eventNoteText3852029080ReadMoreTextVar = $("#eventNoteText3852029080").data("dotdotdot");

                function eventNoteText3852029080ReadMoreTextVar_removeEllipsis()
                {

                  // Remove the plugin
                  $("#eventNoteText3852029080").trigger('destroy.dot');
                  // Remove class limiting height of the box
                  $("#eventNoteText3852029080").removeClass('mets-ellipsis');


                }
              </script>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="content-block fieldset">
      <h3 class="content-block-title">
        Bid Submission Process</h3>

      <div class="twoColFields">
        <div id="g_425" class="mets-field mets-field-view">
          <span class="mets-field-label">
            Bid Submission Type</span>
          <div class="mets-field-body ">
            <p>Electronic Bid Submission</p>
          </div>
        </div>
      </div>

      <div class="fieldset">

        <div id="g_426" class="mets-field mets-field-view">
          <span class="mets-field-label">
            Pricing</span>
          <div class="mets-field-body ">
            <p>
              In attached document</p>
          </div>
        </div>
        <div id="g_427" class="mets-field mets-field-view">
          <span class="mets-field-label">
            Bid Documents List</span>
          <div class="mets-field-body ">
            <div class="bidItemCheckListContainer">
              <div class="contentTableScrollContainer scroll-end scroll-start">
                <table id="g_428" class="mets-table contentBlockTable mets-table useSVGImage">

                  <thead>
                    <tr>
                      <th scope="col" class="col-name">Item Name</th>
                      <th scope="col" class="col-desc-with-label">Description</th>
                      <th scope="col" class="col-mandatory">Mandatory</th>
                      <th scope="col" class="col-limit-single-file">Limited to 1 file</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr data-index="0" class="mets-table-row odd">
                      <td class="col-name">
                        Bid Documents</td>
                      <td class="col-desc-with-label">
                        Documents defining the proposal</td>
                      <td class="col-mandatory">
                        Yes</td>
                      <td class="col-limit-single-file">
                        No</td>
                    </tr>

                    <tr class="mets-table-row-empty">
                      <td colspan="4">No entries</td>
                    </tr>
                  </tbody>
                </table>

              </div>
              <script type="text/javascript"
                src="data:text/javascript;base64,CgkJCgkJdmFyIHRhYmxlT3B0aW9uc19nXzQyOCA9IHt9OwoJCQoJCSAgICB0YWJsZU9wdGlvbnNfZ180MjguaG9yaXpvbnRhbFNjcm9sbGluZyA9IHRydWU7CgkJCgkJICAgIHRhYmxlT3B0aW9uc19nXzQyOC5hamF4ID0gZmFsc2U7CgkJCgkJICAgIHRhYmxlT3B0aW9uc19nXzQyOC5odHRwVmVyYiA9ICJnZXQiOwoJCQoJCSAgICB0YWJsZU9wdGlvbnNfZ180MjgudXNlQ2xvc2VzdEZvcm0gPSBmYWxzZTsKCQkKCQkgICAgdGFibGVPcHRpb25zX2dfNDI4LmVuYWJsZVNlbGVjdGlvbiA9IGZhbHNlOwoJCQoJCQl0YWJsZU9wdGlvbnNfZ180Mjguc2VsZWN0aW9uVHlwZSA9ICJub25lIjsKCQkKCQkgICAgdGFibGVPcHRpb25zX2dfNDI4LmluY2x1ZGVSb3dOdW1iZXJDb2x1bW4gPSBmYWxzZTsKCQkKCQkgICAgdGFibGVPcHRpb25zX2dfNDI4Lm9kZEV2ZW5IaWdobGlnaHRpbmdFbmFibGVkID0gdHJ1ZTsKCQkKCQl0YWJsZU9wdGlvbnNfZ180MjgubmV3Um93VGVtcGxhdGVzID0ge307CgkJCgkJCgkJCSQoIiNnXzQyOCIpLnRhYmxlKHRhYmxlT3B0aW9uc19nXzQyOCk7CgkJCQoJCQk="
                defer="defer"></script>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <input type="hidden" name="_csrf"
        value="4C2A79583AD775F6C068356A50B9A72D1B644528972AC114F399030FE4509E0E55330D1420818674664A7966CAF6137F">
    </div>
  </form>
</div>