@page "/New/{id:int}"
@using Microsoft.AspNetCore.Components.Forms
@using System.IO
@using Microsoft.Extensions.Logging
@using System.Net
@inject AppDbContext context
@inject NavigationManager Navigation

<EditForm Model="@ao" OnValidSubmit="@HandleValidSubmit" FormName="ao" method="post" enctype="multipart/form-data"
  class="container my-4">
  <DataAnnotationsValidator />
  <ValidationSummary />
  <p class="border border-gray-300 p-2 rounded-md">
    <label for="fichier1" class="font-semibold">Fichier n°1 (max. 1 Mo)<div class="text-red-500"></div></label>
    <InputFile class="form-control mb-4" name="ao.Attachements" multiple />
  </p>
  <button class="btn btn-primary" type="submit">Submit</button>

</EditForm>





@code {
  [SupplyParameterFromForm(FormName = "ao")]
  private Brouillon ao { get; set; } = new Brouillon();


  private async Task HandleValidSubmit()
  {
    try
    {
      foreach (var file in ao.Attachements)
      {
        string safeFileName = WebUtility.HtmlEncode(file.Name);
        var path = Path.Combine("wwwroot/files", safeFileName);
        await using FileStream fs = new(path, FileMode.CreateNew);
        await file.CopyToAsync(fs);
        //Upload file to Storage

        var fileBytes = new byte[file.Length];
        await file.OpenReadStream().ReadAsync(fileBytes, 0, (int)file.Length);

        var brouillon = new Brouillon
          {
            FileName = safeFileName,
            FileType = file.ContentType,
            Document = fileBytes
          };
      }
    }
    catch (Exception e) { Console.WriteLine("Erreur : " + e.Message); }
  }
}